body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
}

.container {
    margin-top: 50px;
}

input,
button {
    padding: 10px;
    margin: 5px;
}

#weatherResult {
    margin-top: 20px;
}